@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif';
}

header{
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
  
}



.left img{
    width: 35px;
    height: 23px;
}

.container{
    padding: 0 10vw; 
}
.containerheader{
    padding: 0 10vw; 
}

nav{
    font-size: 13px;
    font-weight: bold;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

.section1{
    background: rgb(255, 255, 255);
    
}

.search{
    width: 25vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;

}

.homeImg{
    width: 80vw;
}
.itemImg{
    width: 10vw;
    margin: 6px 12px;
    padding: 12px;
    align-items: center;
    justify-content: center;

}

footer{
    padding: 23px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: rgb(242, 242, 242);
}

.tall{
    min-height: 5vh;
}
@media (max-width: 850px) {
    header{
        height: 132px;
    }
    .search{
        
    }

    .containerheader{
        padding: 0 10vw;
    }

    nav{
        flex-direction: column;
        align-items: center;
    }
    .right{
        flex-direction: column;
        
        
    }
    .right1{
        display: flex;
        margin: 12px;
    }
   .section2{
   
     flex-wrap: wrap;
    }
   
}
    
